@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --green:#14b8a6;
    --red:#e11d48;
    --door-color:#604AF4;
    --dark-bg:#111827;
    --white:#d1d5db;
    --form-bg:#1f2937;
}
.heading{
    text-align: center;
}
.repo-link{
    text-align: center;
    color: var(--white);
    
}
.repo-link>a:visited{
    color: var(--white);
}
.form{
    display: flex;
    background-color: var(--form-bg);
    flex-direction: column;
    width: 350px;
    justify-content: center;
    margin: 2rem auto;
    border-radius: 8px;
    /* align-items: center; */
}
.form>button{
    background-color: var(--door-color);
    font-size: 1.2rem;
}
.form>input{
    background-color: var(--dark-bg);
    color: white;
    padding: 10px;
    width: 80%;
    margin: 5px auto;
    border-radius: 4px;
}
label{
    font-weight: bold;
    margin: 5px 2rem;
}
body{
    background-color: var(--dark-bg);
    color:var(--white) ;
}
button{
    color: #ffe;
    cursor: pointer;
    padding: 4px 6px;
    width: fit-content;
    
    border-radius:4px ;
    margin: 1rem auto;
}
.buttons-wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.buttons-wrapper>button{
    width: 50px;
    
}
.buttons-wrapper>button.up{
    background-color:var(--green);
    border:2px solid var(--green);
    border-radius: 4px;
    
}
.buttons-wrapper>button.down{
    background-color:var(--red);
    border:2px solid var(--red);
    border-radius: 4px;
}
.floor{
    border-bottom: 2px solid var(--white);
    max-height: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    gap:1rem;
    margin: 10px;
    z-index: 1;
}

.lift{
    background-color: white;
    height: 100px;
    max-height: 100px;
    width: 80px;
    z-index: 2;
    /* position:; */
    position: absolute;
    left:100px;
    display: flex;
    border: 1px solid var(--white);
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
}
.door{
    border: 1px solid white;
    
    background-color: var(--door-color);
    width: 40px;
}
.door-left{
    border-radius:4px 0 0 4px;
}
.door-right{
    border-radius:0 4px 4px 0;
}